#menu{
top:205px;
left:50%;
margin-left:-450px;
width:900px;
height:auto;
position:absolute;
background:rgb(254, 207, 230);
text-align:center;
line-height:5px;
list-style:none;
z-index:3000;
font-family: calibri;
}
.menu li{
position:relative;
float:left;
background:rgb(254, 207, 230);

}
.menu li a{
color:#e2899e;
text-decoration:none;
padding:20px;
display:block;
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
letter-spacing:0.2em;
margin:0 5px;
}

.menu li a:hover{
background:#e2899e;
color:#ffffff;
-moz-box-shadow:0 3px 10px 0 #FFF5EE;
-webkit-box-shadow:0 3px 10px 0 #FFF5EE;
text-shadow:0px 0px 5px white;
text-decoration:line-through;
}
.menu li ul{
position:absolute;
top:45px;
left:-6px;
display:none;

}
.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
display:block;
width:180px;}